body{
    background-image: url(fondo1.jpg);
    background-attachment: fixed;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;

}

.contenido{
    background-color: white;
    box-shadow: 0 2px 10px #444;
    height: 5000px;
    padding: 10px 50px 80px 50px;
    margin: 0px auto;
    width: 600px;

}
.destacado{
    background-color: #EEE;
    box-shadow: 0px 2px 10px #444; 
    padding: 20px
}


*div>h1{
    border-bottom: 1px solid #DDD;
    font-size: 30px;
    line-height: 60px;
    margin: 0px;
    margin-bottom: 20px;
}

div>p{
    line-height: 20px;
    text-align: justify;
}*/

